  </main>
  <footer class="bg-dark text-white text-center py-3 mt-4">
    <p class="m-0">&copy; 2025 catálogo de pães</p>
  </footer>

  <!-- Bootstrap JS  -->
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
