<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" />
    <!-- CSS padrap -->
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>

    <header class="bg-primary text-white mb-4">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
      <div class="container">
        
        <a class="navbar-brand h3 m-0" href="/">Pães de Queijo Viçosenses</a>

        <!-- Botão hamburguer -->
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Itens do menu -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/contato">Contato</a>
            </li>
          </ul>

          <!-- Login / Logout -->
          <% if (user) { %>
          <form action="/logout" method="POST" class="d-flex m-0">
            <button type="submit" class="btn btn-outline-light btn-sm">
              Logout
            </button>
          </form>
          <% } else { %>
          <a href="/login" class="btn btn-outline-light btn-sm">Login</a>
          <% } %>
        </div>
      </div>
    </nav>
  </header>
    <main class="container"></main>
  </body>
</html>
